.mobile {
    width: 400px;
    height: 500px;
    background-color: deeppink;
    border: 1px solid;
    float: left;
    margin-right: 30px ;
}

.title-name {
    border: 1px solid;
    text-align: center;
}

.inbox, .outbox {
    width: 100%;
    border: 1px solid;
    height: 200px;
}