table {
    background-color: blanchedalmond;
    width: 500px;
    height: auto;
}
.input1 {
    padding: 3px;
    margin: 5px;
    width: 90%;
    background-color: aqua;
}
button {
    background-color: dodgerblue;
    color: black;
}
