.container {

    background-color: bisque;
}
button {
    padding: 1px;
    width: 100px;
    height: 40px;
}
table {
    width: 700px;
    height: 240px;
}
input {
    width: 90%;
    height: 35px;
    padding: 1px px;
  margin: 5px;
}
.colorone {
    background-color: darkgray;
    border: black;
}
.colorthree {
    font-size: larger;
    background-color: blue;
    color: white;
}
.colortwo {
    background-color: red;
}

